{% extends "base.html" %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">

{% endblock %}

{% block 'dashboard' %}
<br>
<br>
<div class="container">
    <br>
    <div class="card bg-dark">
        <h5 class="card-header">{{servico.cliente}}</h5>
        <div class="card-body">
            <p class="card-title">{{servico.titulo}}</p>
            <hr>
            <a class="btn btn-info" href="{% url 'gerar_os' servico.identificador %}">Gerar odem de serviço</a>
        </div>
    </div>
</div>
{% endblock %}